
body {
    background-color: #000b21;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #6b6b6b;
    border-radius: 20px;
    padding: 40px;
}
.loading {
  display: none;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}
.error-message {
  color: red; 
  margin-top: 10px;
}
